.event-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.event-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
}

.event__title {
    font-size: 1.2rem;
    text-align: center;
}

.event__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.event__description {
    text-align: center;
}